* {
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html { scroll-behavior: smooth; scroll-padding-top: 88px; line-height:1.5; }
html, body { min-height: 100vh; position: relative; }
body { background-color: #f5f5f5; font-size: 8px; }
main { padding: 88px 0 56px 0; }

h1 { font-size: 72px; line-height: 96px; }
h2 { font-size: 48px; line-height: 72px; }
h3 { font-size: 32px; line-height: 64px; }
h4 { font-size: 24px; line-height: 48px; }
h5 { font-size: 21px; line-height: 40px; }
h1, h2, h3, h4, h5 {
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    letter-spacing: 1px;
}
h2, h3, h4 { color: #B0916A; font-weight: 400; }
p, li { 
    font-size: 16px; line-height: 32px; 
    font-family: 'Maven Pro', sans-serif;
    color: #8A7253;
}

@media only screen and (max-width: 576px) {
    h1 { font-size: 48px; line-height: 72px; }
    h2 { font-size: 32px; line-height: 64px; }
    h3 { font-size: 24px; line-height: 48px; }
}


/*HEADER*/

.header {
    background-color: #fff;
    top: 0;
    position: fixed;
    height: 88px;
    width: 100%;
    padding: 0 1%;
    z-index: 9999;
}
header { 
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
}
.logo { display: flex; height: 88px; }
.logo img { height: 88px; width: auto; }
.logo:hover { cursor: pointer; }

header ul, footer ul { display: flex; flex-direction: row; }
header ul li, footer ul li { list-style: none; }
header ul li a, footer ul li a { 
    font-family: "Libre Bodoni", sans-serif;
    font-size: 24px; line-height: 48px;
    font-weight: 700;
    color: #B0916A;
    letter-spacing: 1px;
}
.page-links li { margin: 0 1rem; }
.page-links li a { border-bottom: 4px solid transparent; }
.page-links a:hover { border-bottom: 4px solid #B0916A; transition: .7s ease-in-out; }

.hf-links li a i { font-size: 28px; line-height: 48px;}
.hf-links li { margin: 0 .5rem; }
.hf-links li a i:hover { opacity: .7; transition: .2s ease-in-out; }

/*MOBILE NAV*/

.hamburger-icon, .nav-overlay { display: none; }

.hamburger-icon { 
    display: none; 
    justify-content: center; align-items: center; 
    cursor: pointer; 
    height: 56px; width: 56px; 
    padding-top: 8px; 
    overflow: hidden; 
}
  
.hi-inner { 
    width: 40px; height: 40px; 
    margin: auto; 
    z-index: 10; 
    cursor: pointer; 
    position: relative; display: flex; align-items: center; 
}
.hi-inner span { 
    position: absolute; display: block; 
    height: 4px; width: 36px; 
    transform: rotate(0); 
}

.one, .three { background-color: #B0916A; }
.two { 
    width: 40px; 
    z-index: 10; 
    position: relative; display: flex; 
    background-color: none; 
}
.two span { 
    position: absolute; 
    height: 4px; width: 20px; 
    background-color: #B0916A; 
    transform: rotate(0); 
}
.two span:nth-child(2) { right: 0; }
.two span:nth-child(1), .two span:nth-child(2) { transform: translateX(0); transition: all 200ms 500ms ease; }
.one { top: 0px; transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22); } 
.two { top: 14px; transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 1.92); } 
.three { top: 28px; transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.clicked .one { transform: translateY(14px) rotate(45deg); } 
.clicked .three { transform: translateY(-14px) rotate(-45deg); } 
.clicked .two span:nth-child(1) { transform: translateX(10vw); opacity: 0; }
.clicked .two span:nth-child(2) { transform: translateX(-10vw); opacity: 0; }

.nav-overlay { 
    display: none; 
    position: fixed; 
    z-index: 1000; 
    top: 56px; left: 0; bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);   
}

.mobile-nav { 
    padding: 2rem 0 3rem 5%; 
    right: 0; 
    height: 100%; 
    z-index: 1200; 
    position: fixed; 
    transition: width .6s; 
    overflow-y: auto; 
    width: 0%; 
    background-color: #f3f3f3; 
    animation-name: mobileNavSlide; 
    animation-duration: .7s; 
}

@keyframes mobileNavSlide { 
    from {     
        transform: translateX(100%); 
    } to {     
        transform: translateX(0); 
    }  
}

.mobile-nav ul { display: flex; flex-direction: column; }
.mobile-nav .hf-links { flex-direction: row; margin-top: 1rem; }
.mobile-nav ul li { margin: 0 .5rem; height: 64px; }
.mobile-nav-links ul li a { font-size: 24px; line-height: 64px; color: #fff; }

@media only screen and (max-width: 1100px) { 
    html { scroll-padding-top: 56px; } 
    .header {        
        padding: 0 0 0 1%;
        height: 56px; 
    }
    main { padding-top: 56px; }

    .logo, .logo img { height: 56px; }

    .desktop-nav, .desktop-hf-links { display: none; }

    .hamburger-icon { display: flex; }

    .mobile-nav .nav2 { margin-top: 2rem; display: flex; flex-direction: row; }
    .mobile-nav .nav2 img { width: 32px; height: 32px; margin-right: 1rem; } 
}

/*FOOTER*/

.footer {
    position: absolute;
    width: 100%;
    bottom: 0; 
    height: 56px;
    background-color: #fff;
    color: #B0916A;
    padding: 0 3%; 
}
footer { 
    height: 56px;
    display: flex; flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

footer p, a { font-family: 'Libre Bodoni', sans-serif; letter-spacing: 1px;}
footer p { font-size: 18px; line-height: 32px; }
footer a { font-size: 14px; line-height: 32px; color: #B0916A; }

.footer ul li:nth-child(1) { margin-left: 0; }
.footer ul li a i { font-size: 18px; line-height: 32px;}

@media only screen and (max-width: 576px) { 
    main { padding: 56px 0 144px 0; }
    .footer, footer { height: 144px; }
    footer { flex-direction: column; justify-content: flex-start; align-items: flex-start; }
    footer div:nth-child(1) { margin: 1rem 0 .5rem 0;}
    footer div:nth-child(2) { margin-bottom: 1rem;}
}


/*BANNER*/

.banner { display: flex; flex-direction: column; position: relative; }
.banner img {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    object-fit: cover;
    width: 100%; height: 100%; min-height: 672px;
}
.banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1%;
    top: 15%;
    left: 0; right: 0;
    text-align: center;
    height: auto;
}
.banner-text h1 { 
    font-size: 48px; line-height: 72px;
    animation: fade-in 1s ease-in-out; 
}
.banner-text h2 { 
    font-family: 'Maven Pro'; font-weight: 500; 
    font-size: 32px; line-height: 56px;
    animation: fade-in 4s ease-in-out; 
}

.home-banner { position: relative; }

.home-banner h1, .home-banner h2, .portfolio-banner h1, .portfolio-banner h2, .contact-banner h1, .contact-banner h2 { 
    color: #fff; 
}
.home-banner h1 { 
    font-size: 64px; line-height: 80px;
    font-weight: 500; font-style: italic;  
}
.home-banner h2 { font-family: 'Dancing Script'; font-weight: 400; }
.down-arrow { 
    display: flex; 
    margin: 0 auto; margin-top: 2rem;
    justify-content: center; align-items: center;
    width: 144px; height: 144px;
    border-radius: 50%;
    font-size: 120px; line-height: 120px;
    animation: pulse-with-opacity 8s infinite ease-in-out; 
    box-shadow: 0px 0px 1px 1px #0000000a;
}
.down-arrow a { color: #fff; }

.about-banner h1, .portfolio-banner h1, .contact-banner h1 { font-weight: 400; }

.about-banner h1 { color: #B0916A; }
.about-banner .banner-text { top: 20%; left: 55%;}

.portfolio-banner .banner-text { top: 20%;  right: 45%; }

.contact-banner .banner-text { top: 30%; left: 30%; }

@media only screen and (min-width: 1800px) {
    .portfolio-banner .banner-text { top: 25%;  right: 30%; }
    .contact-banner .banner-text { right: 5%; }
}
@media only screen and (max-width: 1100px) {
    .portfolio-banner .banner-text, .contact-banner .banner-text {
        left: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .portfolio-banner .banner-text { top: 10%;  right: 40%; }
}
@media only screen and (max-width: 900px) {
    .about-banner .banner img { object-position: 30% 100%; }
}
@media only screen and (max-width: 576px) {
    .banner-text { height: 672px; }
    .about-banner .banner-text { left: 0; }
    .about-banner h1, .about-banner h2 { color: #fff; }
    .portfolio-banner .banner-text { top: 25%;  right: 0; }
}


/*CONTAINER*/

.container { padding: 4rem 5%; }
.container-header { margin-bottom: 4rem; }


/*BOX SHADOW*/

.box-shadow {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
    0px 2px 4px rgba(0,0,0,0.1), 
    0px 4px 8px rgba(0,0,0,0.1), 
    0px 8px 16px rgba(0,0,0,0.1);
}


/*LINK BUTTON*/

.link-button { 
    display: flex;
    background-color: #D69076;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px; line-height: 48px;
    border-radius: 10px;
    width: 220px;
    margin: 0 auto; justify-content: center;
}
.link-button:hover { opacity: .7; transition: .2s ease-in-out;}

/*PINK CONTACT*/

.pink-contact {
    background-color: #D69076;
    color: #fff;
    padding: 3rem 5%;
    display: flex; flex-direction: column;
    margin: 0 auto; justify-content: center;
}
.pink-contact div { margin-bottom: 2rem; }
.pink-contact p { 
    font-size: 32px; line-height: 64px; 
    text-align: center; 
    color: #fff; 
}
.pink-contact a { background-color: #fff; color: #B0916A;}


/*ANIMATIONS*/

.js-scroll { opacity: 0; transition: opacity 500ms; }
.js-scroll.scrolled { opacity: 1; }

.scrolled.fade-in { animation: fade-in 1s ease-in-out both; }
.scrolled.fade-in-bottom { animation: fade-in-bottom 1s ease-in-out both; }
.scrolled.fade-in-bottom2 { animation: fade-in-bottom2 1s ease-in-out both; }
.scrolled.fade-in-bottom3 { animation: fade-in-bottom3 1s ease-in-out both; }
.scrolled.slide-left { animation: slide-in-left 1s ease-in-out both; }
.scrolled.slide-right { animation: slide-in-right 1s ease-in-out both; }
.scrolled.turn { transform: rotate(1turn); transition: 1s; }

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse-with-opacity {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
       
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
       
    }
}


/*ABOUT*/

.about-container h2, .portfolio-container h2 { font-size: 72px; line-height: 96px; }

.about-info { 
    display: flex; flex-direction: row;
    max-width: 1400px;
    margin: 0 auto; margin-bottom: 6rem;
    justify-content: space-between; align-items: center;
}
.about-info-img, .about-info-text { width: 50%; }
.about-info-img img { width: 100%; max-width: 468px; height: auto; }
.about-info-text div:nth-child(1) { margin-bottom: 2rem; }
.about-info-text p { font-size: 24px; line-height: 40px; }

@media only screen and (max-width: 1100px) {
    .about-info { flex-direction: column; }
    .about-info-img, .about-info-text { width: 100%; }
    .about-info-img img { max-width: 1100px; }
    .about-info-text { margin-top: 2rem; }
}
@media only screen and (max-width: 576px) {
    .about-container h2, .portfolio-container h2 { font-size: 48px; line-height: 72px; }
}


/*PORTFOLIO*/

.portfolio-images {
    column-count: 4; column-gap: 1rem;
    max-width: 1400px;
    margin: 4rem auto; justify-content: center;
}
.portfolio-images li {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 1rem;
    break-inside: avoid;
}
.portfolio-images li:hover { cursor: pointer; }
.portfolio-images li img { width: 100%; max-width: 320px; height: auto; }

.portfolio-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-images {
    margin: auto;
    max-width: 100%; height: auto;
}
.modal-img img {
    width: 100%; max-width: 1200px; max-height: 1000px;
    animation-name: modalSlideUp;
    animation-duration: .7s;
}
@keyframes modalSlideUp {
    0% {
        transform: translateY(1500px);
    }
    100% {
        transform: translateY(0);
    }
}

.close-modal {
    position: absolute;
    top: 96px; right: 2rem;
    font-size: 32px; line-height: 32px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
}
.close-modal:hover { cursor: pointer; opacity: .5; } 
.prev-modal, .next-modal {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding-top: 8px;
    font-size: 32px; line-height: 32px;
    width: 48px; height: 48px;
    display: flex; margin: 0 auto; justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.next-modal { right: 0; }
.prev-modal:hover, .next-modal:hover { opacity: .5; }


@media only screen and (max-width: 576px) {
    .portfolio-images { display: flex; flex-direction: column; }
    .portfolio-images li img { max-width: 576px; }
}


/*CONTACT*/

.contact-links-text {
    display: flex; flex-flow: row wrap;
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
    justify-content: space-between; align-items: center;
}
.contact-links, .contact-text { width: 50%; }
.contact-links ul { 
    display: flex; flex-flow: row wrap; 
    margin: 0 auto; justify-content: center;
}
.contact-links ul li { list-style: none; margin: 2rem;}
.contact-links ul li a i { color: #B0916A; font-size: 64px; line-height: 64px; }
.contact-text div:nth-child(1) { margin-bottom: 2rem; }
.contact-text div p { font-size: 32px; line-height: 64px; text-align: center;}

@media only screen and (max-width: 800px) {
    .contact-links, .contact-text { width: 100%; }
    .contact-links ul { max-width: 100%; }
    .contact-text { margin-top: 2rem; }
}
@media only screen and (max-width: 576px) {
    .contact-links ul li { margin: 1rem 2rem; }
    .contact-links ul li a i { font-size: 40px; line-height: 40px; }
    .contact-text div p { font-size: 24px; line-height: 48px; }
}


/*PRIVACY POLICY*/

.privacy-policy-container { 
    max-width: 1200px; 
    display: flex; flex-direction: column;
    margin: 0 auto;
    margin-bottom: 4rem;
    justify-content: center;
    padding: 0 5%; 
}

.privacy-policy-header { margin: 3rem 0 4rem 0; }
.privacy-policy-header h1 { margin-bottom: 3rem; font-size: 48px; line-height: 72px; color: #B0916A; }
.privacy-policy-header p { font-size: 24px; line-height: 48px; font-weight: 500; }

.privacy-policy-content { margin-bottom: 2rem; }
.privacy-policy-content h2 { margin-bottom: 1rem; text-align: left; font-size: 32px; line-height: 64px; }
.privacy-policy-content p, .privacy-policy-content ul li { font-size: 20px; line-height: 40px; margin-bottom: 1rem; }
.privacy-policy-content ul { margin-left: 5%; margin-bottom: 1rem; }


/*404*/

.sorry-banner { margin: 0 auto; }
.sorry-banner .banner-img { height: 672px; width: auto; min-height: none;}
.sorry-banner h1, .sorry-banner h2 { color: #fff; }
.sorry-text p { font-size: 24px; line-height: 40px; text-align: center; }